#CS 457 - Homework Assignment 4: Statistical Inference
###Name: Muhammad . ID: 06369 <br>
###Email: mm06369@st.habib.edu.pk

Importing relevant libraries.

In [28]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [29]:
df = pd.read_csv('EmployeeAttrition.csv')

In [30]:
df.head()

,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,...,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,2,Female,94,...,80,0,8,0,1,6,4,0,5,Yes
1,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,3,Male,61,...,80,1,10,3,3,10,7,1,7,No
2,37,Travel_Rarely,1373,Research & Development,2,2,Other,4,Male,92,...,80,0,7,3,3,0,0,0,0,Yes
3,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,4,Female,56,...,80,0,8,3,3,8,7,3,0,No
4,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,Male,40,...,80,1,6,3,3,2,2,2,2,No

###**Q1)** If the monthly income of Males is greater than Females

H0 = The monthly income of males is equal to that of females.<br>
H1 = The monthly income of males is greater than females.

In [31]:
df_male = df[df['Gender'] == 'Male']['MonthlyIncome']
df_female = df[df['Gender'] == 'Female']['MonthlyIncome']
stats.ttest_ind(df_male, df_female, alternative="greater")

TtestResult(statistic=-1.2212617308870655, pvalue=0.8889084827245606, df=1468.0)

From the given result, we get p value greater than 0.05, thus we must stick with the null hypothesis that monthly income of both genders are similar. If the p value would have been greater than 0.05, it would have suggested that mean income of males is greater than that of females.

###**Q2)**  If the WorkLifeBalance of Males is less than Females

H0 = WorkLifeBalance of Males is similar to that of Females.<br>
H1 = WorkLifeBalance of Males is less than Females.

In [37]:
male_balance = df[df['Gender'] == 'Male']['WorkLifeBalance']
female_balance = df[df['Gender'] == 'Female']['WorkLifeBalance']
stats.ttest_ind(male_balance, female_balance, alternative="less")

TtestResult(statistic=-0.10546787956064164, pvalue=0.45800948246831286, df=1468.0)

Here we get p value greater than 0.05, thus we stick with our null hypothesis that work life balance of males is similar to that of females, else if the p value would have been less than 0.05, it would have suggested that work life balance of males is less than that of females.

###**Q3)** If the YearsAtCompany of Single is less than Married

H0 = YearsAtCompany of single is similar to Married <br>
H1 = YearsAtCompany of single is less than Married

In [33]:
single_years = df[(df['MaritalStatus'] == 'Single')]['YearsAtCompany']
married_years = df[(df['MaritalStatus'] == 'Married')]['YearsAtCompany']
stats.ttest_ind(single_years, married_years, alternative='less')

TtestResult(statistic=-2.5589985737464476, pvalue=0.0053127663549315815, df=1141.0)

Here we get p value equal to 0.05. Generally if p value is less than or equal to 0.05, we reject the null hypothesis. Thus the value suggest that the years of single is less than the married in the company, and supports alternate hypothesis.

###**Q4)** If the EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

H0 = EnvironmentalSatisfaction of Attrition=Yes is similar to Attrition=No<br>
H1 = EnvironmentalSatisfaction of Attrition=Yes is less than Attrition=No

In [34]:
yes = df[(df['Attrition']=='Yes')]['EnvironmentSatisfaction']
no = df[(df['Attrition']=='No')]['EnvironmentSatisfaction']
stats.ttest_ind(yes, no, alternative='less')

TtestResult(statistic=-3.9818600026818496, pvalue=3.58616927468443e-05, df=1468.0)

Since the pvalue is less than 0.05, we reject the null hypothesis. Environment Satisfaction for employees with attrition with yes is similar to those with attrition = no. Instead we know that they are not similar, and that employees with attrition = yes have less Environment Satisfaction.

###**Q5)** If the MonthlyIncome of Manager is greater than Laboratory Technician (Hint: Use JobRole to find Manager and Laboratory Technician)

H0 = MonthlyIncome of Manager is similar to Laboratory Technician <br>
H1 = MonthlyIncome of Manager is greater than Laboratory Technician

In [35]:
manager = df[df['JobRole'] == 'Manager']['MonthlyIncome']
laboratory = df[df['JobRole'] == 'Laboratory Technician']['MonthlyIncome']
stats.ttest_ind(manager,laboratory, alternative = 'greater')

TtestResult(statistic=76.03317414634023, pvalue=9.971168334368433e-224, df=359.0)

The p value is greater than 0.05, thus we reject the null hypotheis. p value suggests that there is a great difference in monthly incomes of manager and laboratory technician, hence we go with alternate hypothesis.

###**Q6)** Is there any association between the Department and Gender?

H0 = There is no association between the department and gender.<br>
H0 = There is association between the department and gender.

In [36]:
chisqt = pd.crosstab(df['Department'], df['Gender'], margins=True)
value = np.array([chisqt.iloc[0][0:].values, chisqt.iloc[1][0:].values])
chi2, p, dof, ex = stats.chi2_contingency(value)
p

0.47927963769548776

Since the pvalue is greater than 0.05, we go with the Null hypothesis that the two fields, Department and Gender are independent and have no strong association with each other.